<!DOCTYPE html>
<html lang="en">
{% load static %}
<html>
    <head>
        <style>
        li {display:inline ; }
        li a {text-decoration:none ; color:white ; background-color:black ; padding:15px 20px ;}
        ul {text-align:center ; }
    </style>
	<meta charset="UTF-8">
        <title>My Mango</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <ul id="id_navbar">

                <li><a id= "id_navbar_home" href="/" style="border-radius:0 20px 20px 0 ">صفحه اصلی </a></li>
                <li><a id= "id_navbar_signup" href="{% url 'signup' %}">ثبت نام </a></li>
                <li><a id= "id_navbar_login" href="{% url 'login' %}">ورود </a></li>
                {% if user.is_authenticated%}
                <li><a id= "id_navbar_profile" href="{% url 'home' %}">نمایه </a></li>
                <li><a id= "id_navbar_logout" href="{% url 'index' %}">خروج </a></li>

                {% endif %}
        </ul>
            {% block content %}
            {% endblock %}
</body>
</html>